<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/socket.io/socket.io.js"></script>
	<link rel="stylesheet" href="/assets/css/game.css">
	<title>BRUNO GAME</title>
</head>
<body>

	<div id="game-tabs-wrapper">
		<div id="about-tab" class="game-tabcontents active">
			<h1 align="center"> BRUNO GAME </h1>
			<br>
			<p align="center">This is a game like goono but with fucking superpowers!</p>
			<br>

			<input type="text" id="player_name_input" placeholder="Player Name...">
			<button align="center" style="margin-left: 25%; width: 50%;" onclick="play();">PLAY!</button>


			<script>
				//helper functions
				function openTab(tabName){
					const tabContents = document.querySelectorAll('.game-tabcontents');
					tabContents.forEach((tabContent)=>{
						if(tabContent.id == tabName + "-tab"){
							tabContent.classList.add("active");
						}else{
							tabContent.classList.remove("active");
						}
					})

					return;
				}

				function toggleModal(modalName){
					const modal = document.getElementById(modalName + '-modal');
					modal.classList.toggle('active');
					return;
				}
				const pn_input = document.getElementById("player_name_input");


				function play(){
					//this is where we initiate players
					if(localStorage.getItem("player_info")){
						//TODO simplify this man
						let curPI = JSON.parse(localStorage.getItem('player_info'));
						if(curPI.in_game){
							
							openTab('in-lobby');
							fetch_players_in_lobby();
							return;
						}
					}else{
						//initialize playerid localstorage if not exist,
						const player_info = {
							id: randstr('PID'),
							name: pn_input.value,
							in_game: false,
							in_game_id: null,
						}
						localStorage.setItem("player_info", JSON.stringify(player_info));
					}

					//now go to game lobbies/rooms
					openTab("rooms");
					console.log("fetching room list..");
					fetch_room_list();
				}

				function randstr(prefix)
				{
				    return Math.random().toString(36).replace('0.',prefix || '');
				}
			</script>
		</div>
		<div id="rooms-tab" class="game-tabcontents">
			<h2 align="center">Game Rooms</h2>
			<hr>

			<ul id="rooms-list">
				<li>
					<div>
						<h4 style="margin: 2px">Xander's Room</h4>
						<span > <p style="margin: 2px; display: inline;">4 / 8</p> <button style="margin: 2px; margin-top: 0px; margin-right: 20px;display: inline; float: right;">JOIN</button> </span>
					</div>
					<hr>
				</li>
			</ul>

			<div id="refresh-rooms-button" class="ui-buttons" onclick="fetch_room_list();">
				<p>Refresh Rooms</p>
			</div>

			<div id="new-game-modal-toggle-button" class="ui-buttons" onclick="toggleModal('new-game');">
				<p>New Game</p>
			</div>


			<div id="new-game-modal" class="modal">
				<label for="new-game-name">Name: </label>
				<input id="new-game-name-input" type="text" name="new-game-name">
				<button onclick="createNewGame()">Create New Game!</button>
			</div>
		</div>
		<div id="in-lobby-tab" class="game-tabcontents">
			<h2 id="lobby-name-label" align="center">Xander's Room</h2>
			<hr>
			<ul id="lobby-player-list">
				<li>
					<div>
						<span> <h4 style="margin: 2px; display:inline;">Xander</h4> <p style=" display:inline;">Host</p></span>
					</div>
					<hr>
				</li>
			</ul>

			<div id="leave-game-button" class="ui-buttons" onclick="leaveGame();">
				<p>Leave Game</p>
			</div>

			<div id="start-game-button" class="ui-buttons" onclick="startGame();">
				<p>Start Game</p>
			</div>
		</div>

		<div id="in-game-tab" class="game-tabcontents">


			<div id="other-hand-container-1" class="side-card-container">
				<!-- <div id="${card.id}" class="hand-cards">
					<img src="/assets/images/cards/+4.png" alt="">
				</div>

				<div id="${card.id}" class="hand-cards">
					<img src="/assets/images/cards/+4.png" alt="">
				</div> -->
			</div>

			<div id="other-hand-container-2" class="side-card-container">
				<!-- <div id="${card.id}" class="hand-cards">
					<img src="/assets/images/cards/+4.png" alt="">
				</div>

				<div id="${card.id}" class="hand-cards">
					<img src="/assets/images/cards/+4.png" alt="">
				</div> -->
			</div>

			<div id="other-hand-container-3" class="side-card-container">
				<!-- <div id="${card.id}" class="hand-cards">
					<img src="/assets/images/cards/+4.png" alt="">
				</div>

				<div id="${card.id}" class="hand-cards">
					<img src="/assets/images/cards/+4.png" alt="">
				</div> -->
			</div>


			<div id="other-hand-container-4" class="side-card-container">
				<!-- <div id="${card.id}" class="hand-cards"> -->
					<!-- <img src="/assets/images/cards/+4.png" alt="">
				</div>

				<div id="${card.id}" class="hand-cards">
					<img src="/assets/images/cards/+4.png" alt="">
				</div> -->
			</div>

			<!-- hand container -->			
			<div id="hand-container" class="card-container">
			</div>
		</div>


		<div id="in-aftergame-tab" class="game-tabcontents">
			<p>after game</p>
		</div>
	</div>



	<!-- client game script -->
	<script type="text/javascript">
		// openTab("in-game")

		const socket = io();
		var game_state = null;
		var rooms = [];
		var players_in_lobby = [];
		//TODO GAME STATE CLASS
		class ClientGameState{
			constructor(players){
				this.playerCount = players.length;
				this.players = players;
				this.client_player_is_turn = false;
				this.client_player_index = null;
				this.deck_state = null;
				this.pile_state = null;
			}
			//add functions
		}
		
		//TODO: GAME ELEMENT UPDATES FUNCTIONS AND ANIMATIONS for UI
		//this is where we call class


		/*====================
			SOCKET EVENT LISTENERS
		======================*/		
		socket.on('room_list_return', (rooms_returned) => {
			if(rooms_returned != null){
				rooms = rooms_returned
			}
			update_room_list_ui();
		});
		socket.on('game_log', (log_info)=>{
			if (log_info.game_id == getPlayerInfo().in_game_id) {
				console.log(log_info.message);
			}
		})
		socket.on('player_join_return', (result) => {
			if(result.failed){
				alert("error in joining the game...");
			}else{
				//successfully joined a game, update player info to in-game and it's current game id
				console.log("joined the game " + result.game_id + ", host id:" + result.host_id + "player id: " + getPlayerInfo().id);
				let curPI = JSON.parse(localStorage.getItem('player_info'));

				curPI.in_game = true;
				curPI.in_game_id = result.game_id;

				localStorage.setItem('player_info', JSON.stringify(curPI));

				openTab('in-lobby');

				let lnlabel = document.getElementById("lobby-name-label");
				lnlabel.innerHTML = "Room: " + result.game_name;

				fetch_players_in_lobby();
				
				let sb = document.getElementById('start-game-button')

				if(result.host_id != getPlayerInfo().id){
					//this player joined the lobby is also the host, show all buttons
					sb.style.display = "none";
				}else{
					sb.style.display = "block";
				}
			}
		})
		console.log("asd");
		socket.on('players_in_lobby_return', (players) => {
			if(players){
				players_in_lobby = players;
			}
			update_players_in_lobby_ui();
		});

		socket.on('players_in_lobby_update', (player) => {
			players_in_lobby = players;
			update_players_in_lobby_ui();
		});

		socket.on('player_leave_return', (result) => {
			if(!result.failed){
				openTab('rooms');

				//TODO simplify this man
				let curPI = JSON.parse(localStorage.getItem('player_info'));
				curPI.in_game = false;
				curPI.in_game_id = null;
				localStorage.setItem('player_info', JSON.stringify(curPI));
				return;
			}
			alert('failed to leave room');
		});

		socket.on('player_game_start_return', (result)=>{
			if(!(result.failed || result.game_id != getPlayerInfo().in_game_id)){
				fetch_game_state();
				openTab('in-game');
			}
		})

		socket.on('client_disconnect', ()=>{
			let pinfo = JSON.parse(localStorage.getItem('player_info'));

			//on success
			if(pinfo.in_game == true){
				socket.emit('player_leave_game', {game_id: pinfo.in_game_id, player_id: pinfo.id})
			}
		})

		socket.on('get_client_game_state_return', (cGS)=>{
			game_state = cGS
			update_game_ui();
			console.log(game_state);
		})

		socket.on('game_force_update_game_state', (game_id) => {
			if(game_id == getPlayerInfo().in_game_id){
				fetch_game_state();
			}
		})
		/*====================
			FUNCTIONS
		======================*/
		function fetch_room_list(){
			socket.emit('get_rooms');
		}
		function getPlayerInfo(){
			let curPI = JSON.parse(localStorage.getItem('player_info'));
			return curPI;
		}
		//this function is only for hosts and inside the room
		function startGame(){
			socket.emit('player_game_start', getPlayerInfo().in_game_id);
		}

		const rl = document.getElementById("rooms-list");
			//UI
		function update_room_list_ui(){
			rl.innerHTML = '';
			if(rooms.length == 0){
				rl.innerHTML += `
					<li> <h5>No game exists bruh... u can make one though!</h5> </li>
				`
				return;
			}
			rooms.forEach((room)=>{
				rl.innerHTML += `
					<li>
						<div>
							<h4 style="margin: 2px">${room.name} - id: ${room.id}</h4>
							<span > <p style="margin: 2px; display: inline;">${room.playerCount} / 8</p> <button style="margin: 2px; margin-top: 0px; margin-right: 20px;display: inline; float: right;" onclick="joinGame('${room.id}', '${room.name}')">JOIN</button> </span>
						</div>
						<hr>
					</li>
				`  
			})
		}

		const ngni = document.getElementById("new-game-name-input");
		function createNewGame(){
			let newGameName = ngni.value;
			let newGameInfo = {
				name: newGameName,
				player_info: getPlayerInfo(),
			}

			console.log(newGameInfo);
			
			socket.emit('create_new_game', newGameInfo);
			fetch_room_list();
			toggleModal('new-game');
		}

		//this player joins a game..
		function joinGame(game_id, game_name){
			var joinInfo = {
				game_id: game_id,
				game_name: game_name,
				player_info: getPlayerInfo(),
			}
			socket.emit('player_join_game', joinInfo);
		}

		//this player joins a game..
		function leaveGame(){
			let pinfo = getPlayerInfo();
			var kickInfo = {
				game_id: pinfo.in_game_id,
				player_id: pinfo.id,
			}
			socket.emit('player_leave_game', kickInfo);
		}


		//get players in game
		function fetch_players_in_lobby(){

			let current_game_id = JSON.parse(localStorage.getItem("player_info")).in_game_id;
			console.log("players " + current_game_id)
			socket.emit("get_players_in_lobby", current_game_id);
		}

		const lpl = document.getElementById('lobby-player-list');
		function update_players_in_lobby_ui(){

			lpl.innerHTML = '';
			players_in_lobby.forEach((player)=>{
				console.log(player.isHost);
				
				lpl.innerHTML += `
					<li>
						<div>
							<span> <h4 style="margin: 2px; display:inline;">${player.name}</h4> <p style=" display:inline;">${(player.isHost)? "Host" : "Member"}</p></span>
						</div>
						<hr>
					</li>
				`  
			})
		}


		function fetch_game_state(){
			console.log("fetch game state...");
			socket.emit('get_client_game_state', ({
				game_id: getPlayerInfo().in_game_id, 
				player_id: getPlayerInfo().id
			}))
		};

		// no socket requests here
		function update_game_ui(){
			//display hand cards
			let handCardsEl = document.getElementById('hand-container');


			handCardsEl.innerHTML = ''

			game_state.hand_state.forEach((card)=>{
				let cardEl = `
					<div id="${card.id}" class="hand-cards">
						<img src="/assets/images/cards/${card.image}" alt="">
					</div>
				`
				handCardsEl.innerHTML += cardEl;
			})

			//display other card hands
			let otherPlayerCounter = 1;
			game_state.players.forEach((player)=>{
				if(player.id != getPlayerInfo().id){
					let otherHandContainerEl = document.getElementById("other-hand-container-" + otherPlayerCounter);
					otherHandContainerEl.innerHTML = ''
					player.hand.forEach((card)=>{
						let cardEl = `
							<div class="hand-cards">
								<img src="/assets/images/cards/backface.png" alt="">
							</div>
						`
						otherHandContainerEl.innerHTML += cardEl;
					})
					otherPlayerCounter++;
				}else{
					console.log("The player, dont add to others id:" + player.id);
					
				}
			})

			//pile_state
			
		}

		function game_log(log){
			console.log(log);
		}

		
	</script>
	<!-- client game script initializations -->
	<script>
		//run functions here after all declarations
	</script>
</body>
</html>