
html, body{
    margin: 0;
    padding: 0;
/*			font-family: monospace;*/
}

.game-tabcontents{
    display: none;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.game-tabcontents.active{
    display: block !important;
}

.modal{
    border-radius: 5px;
    border: 1px black solid;
    padding:10px;
    display: none;
    width: 70%;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: white;
}

.modal.active{
    display: block !important;
}

.ui-buttons{
    position: fixed;
    background-color: rgba(70, 70, 70, 0.9);
    width: 70px;
    height: 70px;
    cursor: pointer;
}

#new-game-modal-toggle-button{
    right : 20px;
    bottom : 20px;
}

#refresh-rooms-button{
    right : 20px;
    bottom : 110px;

}

#leave-game-button{
    left: 20px;
    bottom: 110px;
}

#start-game-button{
    left: 20px;
    bottom: 20px;
}

#hand-container{
    position: fixed;
    width: 80%;
    height: 70px;
    border: 1px solid black;
    bottom: 20px;
    left: 10%;

    display: flex;
}

.hand-cards{
    width: 15px;
    height: 70px;
    transition-duration: 0.2s;
}

.hand-cards img{
    width: 50px;
    height: 70px;
}

.hand-cards.selected{
    transform: translateY(-10%);
}

.hand-cards:hover{
    transform: translateY(-10%);
}

#other-hand-container-1{
    left: 20px;
    bottom: 120px;
}
.side-card-container{
    position: fixed;
    width: 70px;
    height: 25%;
    border: 1px solid black;
}

#other-hand-container-1 .hand-cards{
    height: 10px;
    width: 70px;
}

#other-hand-container-1 .hand-cards img{
    transform-origin: 0% 100%;
    transform: rotate(90deg) translateX(-70px);
    ;
}


#other-hand-container-2{
    left: 20px;
    top: 180px;
}

#other-hand-container-2 .hand-cards{
    height: 10px;
    width: 70px;
}

#other-hand-container-2 .hand-cards img{
    transform-origin: 0% 100%;
    transform: rotate(90deg) translateX(-70px);
    ;
}


#other-hand-container-3{
    right: 10px;
    bottom: 120px;
}

#other-hand-container-3 .hand-cards{
    height: 20px;
    width: 70px;
}

#other-hand-container-3 .hand-cards img{
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(-50px);
    ;
}


#other-hand-container-4{
    right: 10px;
    top: 180px;
}

#other-hand-container-4 .hand-cards{
    height: 20px;
    width: 70px;
}

#other-hand-container-4 .hand-cards img{
    transform-origin: 0% 0%;
    transform: rotate(-90deg) translateX(-50px);
    ;
}